:root{
    --bg: #1e1f20;
    --text: #f2f4ea;
    --line: #444;
    --card: #2e2f30;

    --primary: #c94e50;
    --primary-hover: #b34345;

}


/*DEFAULT TAG STYLE*/
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    background-color: var(--bg);
    color: var(--text);
}
header{
    width: 100%;
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    background-color: var(--bg);
    color: var(--text);
    border-bottom: 1px solid var(--line);

    z-index: 100;
}

main{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

a{
    color: var(--text);
    text-decoration: none;
    transition: color .2s ease;
}
a:hover{
    color: var(--primary);
}


/* COMPONENTS */
/* Card */
.card{
    max-width: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--card);
    color: var(--text);
    border: 1px solid var(--line);

    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    gap: 2rem;

    transition: transform .3s ease;
}
.card:hover{
    transform: scale(1.02);
}
.card h3{
    margin: 0;
    font-size: 1.5rem;
}
.card img{
    width: 100%;
    border-radius: 10px;
}
.card p{
    margin: 0;
}

/* Primary Button */
.primary-button{
    background-color: var(--primary);
    color: var(--text);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .2s ease;
}
.primary-button:hover{
    color: unset;
    background-color: var(--primary-hover);
}


/** Active Nav Button */
.active-nav-button{
    color: var(--primary);
}


@media (max-width:900px) {
    h1{
        margin-bottom: 0;
    }
    .navigation{
        padding: 0;
    }
    main{
        width: 100%;
        margin-top: 20vh;
    }
}