section{
    scroll-margin-top: 100px;
    width: 80%;
    min-height: 90vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-bottom: 20px;
}

h2{
    font-size: 3rem;
    margin-bottom: 2rem;
}


/* SECTIONS */
/* hero */
#hero{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    background: url(../images/hero.png);
    background-size: cover;
    background-position: center;
}
#hero p{
    margin: 0;
    margin-left: 5rem;
    margin-top: 10rem;
    font-size: 5rem;
    font-weight: bold;
    width: 40%;
}

/* chi siamo */
#chi-siamo{
    text-align: center;
}
#chi-siamo p{
    width: 50%;
    font-size: 1.5rem;
    line-height: 2rem;
}

/* menu */
#menu{
    justify-content: flex-start;
    gap: 2rem;
}
.show-full-menu-container{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.show-full-menu{
    text-decoration: underline;
    margin-top: 2rem;
    font-size: 1.2rem;  
}

.menu-container{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
    gap: 2rem;
    margin-bottom: 2rem;
}

/* contatti */
.main-contacts{
    width: 100%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;

    gap: 2rem;
}
.info-contact{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    border: 1px solid var(--line);
    border-radius: 10px;

    padding: 1rem;
    gap: 1rem;
}
#contatti iframe{
    border-radius: 10px;
}


/*Navigation*/
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 2rem;
    padding: 2rem;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 2rem;
}
nav a{
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;
}

footer{
    width: 100%;
    height: 10vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--bg);
    color: var(--text);
    border-top: 1px solid var(--line);
}


@media (max-width:900px) {
    header{
        flex-direction: column;
        height: 20vh;
    }
    #hero{
        align-items: center;
    }
    #hero p{
        margin: 0;
        margin-top: 5rem;
        width: 90%;
        font-size: 4rem;
        text-align: center;
    }

    #chi-siamo p{
    width: 90%;
    font-size: 1rem;
    }

    #contatti iframe{
        width: 100%;
    }
}