main{
    margin-left: 200px;
    margin-top: 10vh;
    width: calc(100% - 200px);
}

nav{
    width: 200px;
    height: 90vh;
    
    position: fixed;
    top: 10vh;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    background-color: var(--bg);
    border-right: 1px solid var(--line);
}
nav ul{
    list-style: none;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 50px 0;
    margin: 0;
    gap: 2rem;
}
nav a{
    width: 100%;
    padding: 1rem 0;
}

section{
    width: 100%;
    scroll-margin-top: 100px;
    min-height: 90vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 2rem 0;
}

/* Card Menu Container */
.cardMenu-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-top: 2rem;
}
.price{
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--primary);
}

@media (max-width:900px) {
    header{
        height: 10vh;
        border: none;
    }
    main{
        width: 100%;
        margin-top: 20vh;
        margin-left: 0;
    }

    section{
        border-top: 1px solid var(--line);
    }

    nav{
        width: 100%;
        height: 10vh;

        flex-direction: row;

        border-bottom: 1px solid var(--line);

        overflow-x: auto;
    }
    nav ul{
        list-style: none;
        width: 100%;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        padding: 0;
        margin: 0;
        gap: 2rem;
    }
}